.container {
  margin: 4em;
  margin-top: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #ffffff;
}
.Venue_nav {
  margin-top: 200px;
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  justify-content: space-between;

  color: #ffffff;
}

.link {
  text-align: center;
  width: 7em;
  height: 2rem;
  border: 1px solid;
  border-radius: 25px;
  color: #ffffff;
  text-decoration: none;
}

.btn:hover {
  outline: 2px solid yellow;
}

.itembox {
  border: 1px solid rgb(252, 252, 252);
  width: 25%;
  border-radius: 20px;

  box-shadow: 0 2px 211px rgba(236, 236, 238, 0.6);
}
.imageContainer {
  position: relative;
  width: 100%;
  height: auto;
  /* margin: 0 auto; */
}

.image {
  width: 100%;
  border-radius: 20px;
}
.title {
  margin: 10px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.btn {
  background-color: #0f172a;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  max-height: 45px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.detailsList {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px; /* Space between items */
  justify-content: center;
}
.detailsList li {
  border-right: 1px solid;
  padding: 0 8px;
}

.btn {
  margin-top: 15px; /* Space between list and button */
  padding: 8px 16px;
  background-color: #217427;
  color: white;
  outline: 2px solid white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #166138;
}
