.container {
  margin: 2em 4em;
  color: aliceblue;
}
.section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.servicediv {
  display: flex;
  flex: 1; /* Ensures ServiceComponent takes up available space */
  margin-right: 1rem;
}
.formdiv {
  flex: 0.5;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
