body {
  margin: 0;
  background-color: #0f172a; /* Default text color */
  min-height: 100vh; /* Ensure the background covers the entire screen */
  font-family: "Oranienbaum", sans-serif;
}
hr {
  color: aliceblue;
  box-shadow: 10px 10px 100px rgb(241, 243, 243);
}
