/* CreateVenue.module.css */
.formGroup {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
  margin: 1.5rem auto;
}

.formLabel {
  font-weight: bold;
}

.inputField {
  width: 100%;
  padding: 0.75rem;
}
.radioGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center; /* Align items vertically in the center */
  gap: 15px; /* Space between radio buttons */
}
