.filter_section {
  padding: 1.5rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
  justify-content: space-around;
  width: 50%;
  height: 30px;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 1px solid whitesmoke;
  margin-right: 10px;
  align-items: center;
  background-color: transparent;
  color: aliceblue;
}

.tabs :hover {
  background-color: #1f80e0;
  color: white;
  /* padding: 0.5rem 1rem; */
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.tab {
  background-color: transparent;
  margin: 20px;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.range {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.range label {
  margin-bottom: 0.5rem;
}

.range input[type="range"] {
  width: 150px;
}

.search input {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  width: 100%;
}

.filter_icon {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
