.filter_section {
  padding: 1.5rem;
  border-radius: 12px;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 50%; */
  height: 30px;
  border: none;
  box-shadow: 0 2px 0 rgba(211, 206, 206, 0.1);
  margin-right: 10px;
  background-color: transparent;
  color: aliceblue;
}

.tabs :hover {
  /* background-color: #0f172a; */
  color: white;
  /* padding: 0.5rem 1rem; */
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.tab {
  background-color: transparent;
  margin: 0px;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.1rem;
}
.tabOptions {
  display: flex;
  gap: 1rem; /* Adds space between the "Venues" and "Services" buttons */
}
.filters {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  font-size: 1.1rem;
}

.range {
  display: flex;
  margin: 10px;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  color: white;
}

.range label {
  margin-bottom: 0.5rem;
  padding: 25px;
  border-radius: 20px;
  background-color: rgba(143, 181, 214, 0.336);
}

.range input[type="range"] {
  width: 200px;
  margin-left: 30px;
  margin-right: 30px;
}

.search input {
  padding: 0.5rem;
  border-radius: 15px;
  border: none;
  width: 100%;
  background-color: rgba(95, 158, 160, 0.082);
  box-shadow: 0 0 10px rgba(233, 233, 235, 0.6);
  color: aliceblue;
}

.filter_icon {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
