.container {
  margin: 4em;
  margin-top: 200px;
  display: flex; /* Added to align children horizontally */
  flex-wrap: wrap; /* Allows wrapping when there's not enough space */
  justify-content: space-evenly; /* Adjust spacing between itemboxes */

  color: #ffffff;
}
.itembox {
  border: 1px solid saddlebrown;
  width: 25%;
  border-radius: 20px;
}
.imageContainer {
  position: relative;
  width: 100%;
  height: auto;
  /* margin: 0 auto; */
}

.image {
  width: 100%;
  border-radius: 20px;
}
.title {
  margin: 10px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.btn {
  background-color: #0f172a;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 5px;
}

.description {
  display: flex;
  margin: 10px;
  padding: 10px;
  justify-content: space-between;
}
.description span {
  display: inline-flex;
  flex-direction: row;
  font-size: 16px;
  width: 50px;
  height: auto;
  text-align: center;
  border: 1px solid #ffffff;
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
}
