.container {
  margin: 4em;
  margin-top: 200px;
}
.itembox {
  border: 1px solid saddlebrown;
  width: 25%;
  border-radius: 20px;
}
.imageContainer {
  position: relative;
  width: 100%;
  height: auto;
  /* margin: 0 auto; */
}

.image {
  width: 100%;
  border-radius: 20px;
}
.title {
  margin: 10px;
  justify-content: space-between;
  display: flex;
}
.btn {
  background-color: #0f172a;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 5px;
}
