.navbar {
  background-color: #333333;
  color: #0f172a;
  padding: 1rem;
  font-size: 1.3rem;
  font-family: "Oranienbaum";
  /* background-color: transparent; */
}

.nav_list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav_item {
  margin-right: 1.5rem;
  color: white;
  cursor: pointer;
}

.nav_item:hover {
  color: #ddd;
}
