.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #404a42; */
  padding: 0 1rem;
}

.navbar {
  color: #dadde6;
  font-size: 1.3rem;
  font-family: "Oranienbaum";
}

.nav_list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav_item {
  margin-right: 1.5rem;
  color: 404a42;
  cursor: pointer;
}

.nav_item:hover,
.btn:hover {
  color: #eddbcd;
  cursor: pointer;
  transition: color 0.3s ease;
}

.btngroup {
  display: flex;
  gap: 1rem;
}

.btn {
  font-family: "Oranienbaum";
  font-size: 1.3rem;
  border: none;
  padding: 10px;
  background-color: transparent;
  color: 404a42;
}

.logo {
  color: white;
  font-size: 2rem;
}
