.venue-card {
  border: 1px solid #ccc;
  border-radius: 15px;
  margin: 50px;
  margin-top: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  width: 25%;
}

.venue-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.venue-details {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
}

.venue-details h2 {
  font-size: 17px;
  margin-bottom: 10px;
}

.price {
  color: #cac5c5;
  border: 1px solid rgba(128, 122, 122, 0.582);
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  white-space: normal;
  max-width: 30%;
  word-wrap: break-word;
  font-size: 13px;
  line-height: 1.7;
}

.venue-footer {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 10px;
}

/* .venue-stats {
  display: grid;
  grid-template-columns: 1fr 1fr; Two columns
  grid-template-rows: auto auto; Adjusts row heights
  gap: 10px;
   width: 70%;
} */

.stats {
  padding: 5px;
  font-size: 1em;
  color: #fff;
}

/* Make the last .stats item span both columns */
.venue-stats .stats:last-child {
  grid-column: span 2;
}

.book-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.book-button:hover {
  background-color: #0062cc;
}
